<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-card>
        <mat-card-title>Iniciar Sesión</mat-card-title>
        <mat-card-content>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
                <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    El email es requerido y debe ser válido
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    La contraseña es requerida y debe tener al menos 6 caracteres
                </mat-error>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar
                Sesión</button>
            <button mat-raised-button color="accent" routerLink="/registro">Registrarse</button>
            <!-- Botón para registrarse -->
        </mat-card-actions>
    </mat-card>
</form>